.gamesContainer{
  padding-top: 3em;
  padding-bottom: 3em;
  display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    overflow-y: scroll;
    height: 50vh;
    width: 100vw;
}
.moreBtn{
}
.gamesPageContainer h1{
  color: #2230FA;
  font-family: silkscreen;
}
.gamesPageContainer{
background-repeat: no-repeat;
background-size: 85%;
}
.gameCardNav{
  display: flex;
  justify-content: center;
  width:100%;
  align-items: center;
}
.gameCardTitle{
  justify-content: flex-start;
  font-size: .85em;
  font-family: silkscreen;
  background-color: yellow;
  color: black;
  border: 1.5px solid grey;
  padding:3px;
  border-radius: 5px;
}
.gameCardBtn{
  background-color: yellow;
  font-size:.65em;
  border-radius: 7.5px;
  height: 2em;
  align-items: center;
  transform:translateY(1em);
  font-family: silkscreen;
}
.game{
  font-size: 1rem;
  margin: 2em 0em 0em 5rem;
  font-family: silkscreen;
  border-top: 5px dashed red;
  border: 1px solid rgb(78,78,89);
  border-radius: 5% 5% 5% 5% / 5% 5% 5% 5% ;
  color: white;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
  background-color: rgb(35,34,37);
  width: 30rem;
  height: 20em;
  padding:1em ;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
}
.game:hover{
  border-radius: 0% 0% 50% 50% / 0% 0% 25% 25% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);}
img{
  width:5em;
  object-fit: contain;
}
