.navbar input[type="checkbox"],
.navbar .hamburger-lines{
  display: none;
}
.navbar{
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 50px;
  z-index: 12;
}
.navbar-container{
  display:flex;
  justify-content: space-between;
  height: 64px;
  align-items:center;
}
